#rainbow {
	width: 200px;
	height: 200px ;
}

#flutter {
	width: 200px;
	height: 200px;
}

#green {
	width: 200px;
	height: 200px;
}

#red{
	width: 200px;
	height: 200px;
}

#blue{
	height: 200px;
	width: 200px;
}

h1 {
	background-color: darkblue;
	text-align: center;
	color:skyblue;
}

